<app-header></app-header>
<div class="container">
    <ng-template #welcome>
        <h2>Your Task, {{authService.user.username}}</h2>
    </ng-template>
    <app-add-task *ngIf="showAddTaskForm; else welcome"
                  (onAddTask)="addTask($event)"></app-add-task>
    <app-tasks-list
            *ngIf="!this.loading && this.tasks"
            [tasks]="tasks"
            (onDeleteTask)="deleteTask($event)"
            (onToggleReminder)="toggleReminder($event)"></app-tasks-list>
    <app-loading-spinner *ngIf="this.loading"></app-loading-spinner>
</div>
