@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$font-stack: Poppins, Helvetica, sans-serif;
$line-height: 1.6;
$light-color: #f2f2f2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: #f2f2f2;
  line-height: $line-height;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;

  &:hover, &:focus {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.98);
  }

  &-block {
    display: block;
    width: 100%;
  }
}

.form-control {
  margin: 20px 0;

  label {
    display: block;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  &-check {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      flex: 1;
      margin-left: 7px;
    }

    input {
      flex: 2;
      height: 20px;
    }
  }
}